<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Home - E-Bus Team 2</title>
	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet"
		type="text/css">
	<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Loading main css file -->
	<link rel="stylesheet" href="/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>

<body class="header-collapse">

	<div id="site-content">
		<header class="site-header">
			<div class="container">
				<a th:href="@{/}" id="branding">
					<img style="height: 60px;" src="images/logo.png" alt="Site Title">
				</a> <!-- #branding -->

				<nav class="main-navigation">
					<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item current-menu-item"><a href="index.html">Halaman Utama</a></li>
						<li class="menu-item"><a href="http://localhost:8080/about">About</a></li>
						<li class="menu-item"><a href="http://localhost:8080/gallery">Gallery</a></li>
						<li class="menu-item"><a href="http://localhost:8080/download">Download</a></li>
						<li class="menu-item"><a href="http://localhost:8080/rekan">Rekan</a></li>
						<li class="menu-item"><a href="http://localhost:8080/contact">Contact</a></li>
					</ul> <!-- .menu -->
				</nav> <!-- .main-navigation -->
				<div class="mobile-menu"></div>
			</div>
		</header> <!-- .site-header -->

		<div class="hero">
			<div class="slider">
				<ul class="slides">
					<li class="lazy-bg" data-background="/images/slide-1.jpg">
						<div class="container">
							<h2 class="slide-title">Selamat datang!</h2>
							<h3 class="slide-subtitle">Layanan Pemesanan Tiket E-Bus</h3>
							<p class="slide-desc">Melayani dengan hati, mengantarkan dengan pasti.</p>
							<img style="height: 60px;" src="images/logo.png" alt="Site Title">
						</div>
					</li>
					<li class="lazy-bg" data-background="/images/slide-2.jpg">
						<div class="container">
							<h2 class="slide-title">Selamat datang!</h2>
							<h3 class="slide-subtitle">Layanan Pemesanan Tiket E-Bus</h3>
							<p class="slide-desc">Memenuhi berbagai kebutuhan perjalanan anda dengan sejumlah pilihan
								bus yang tersedia.</p>
							<img style="height: 60px;" src="images/logo.png" alt="Site Title">

						</div>
					</li>
					<li class="lazy-bg" data-background="/images/slide-3.jpg">
						<div class="container">
							<h2 class="slide-title">Selamat datang!</h2>
							<h3 class="slide-subtitle">Layanan Pemesanan Tiket E-Bus</h3>
							<p class="slide-desc">Nikmati perjalanan yang nyaman dengan berbagai fitur mudah dijangkau
								di kursi anda.</p>
							<img style="height: 60px;" src="images/logo.png" alt="Site Title">


						</div>
					</li>
				</ul>
			</div>
		</div>

		<main class="main-content">
			<div class="fullwidth-block upcoming-event-section" data-bg-color="#191919">
				<div class="container">
					<header class="section-header">
						<h2 class="section-title">Promo</h2>

						<div class="event-nav">
							<a class="prev" id="event-prev" href="#"><i class="fa fa-caret-left"></i></a>
							<a class="next" id="event-next" href="#"><i class="fa fa-caret-right"></i></a>
						</div> <!-- .event-nav -->

					</header> <!-- .section-header -->

					<div class="event-carousel">

						<div class="event">
							<div class="entry-date">
								<div class="date">18</div>
								<span class="month">Des</span>
							</div>
							<h2 class="entry-title"><a href="#">Promo: Desember Jalan-Jalan</a></h2>
							<p>Udah nggak tahan ingin liburan? Gunakan kode promo <b><i>D353MB3R</i></b> dan dapatkan potongan 10% untuk semua
								pemesanan tiket. Syarat dan ketentuan berlaku.</p>
						</div> <!-- .event -->


						<div class="event">
							<div class="entry-date">
								<div class="date">25</div>
								<span class="month">Des</span>
							</div>
							<h2 class="entry-title"><a href="#">Promo: Diskon Natal</a></h2>
							<p>Ingin merayakan natal bersama keluarga dan kerabat? Gunakan kode promo <b><i>N4T4L</i></b> dan dapatkan
								potongan 25% untuk semua pemesanan tiket. Syarat dan ketentuan berlaku.</p>
						</div> <!-- .event -->

						<div class="event">
							<div class="entry-date">
								<div class="date">31</div>
								<span class="month">Des</span>
							</div>
							<h2 class="entry-title"><a href="#">Promo: Akhir Tahun</a></h2>
							<p>Berangkat liburan akhir tahun? Gunakan  kode promo <b><i>4KH1RT4HUN</i></b> dan dapatkan potongan 15% untuk semua
								pemesanan tiket. Syarat dan ketentuan berlaku.</p>
						</div> <!-- .event -->

						<div class="event">
							<div class="entry-date">
								<div class="date">01</div>
								<span class="month">Jan</span>
							</div>
							<h2 class="entry-title"><a href="#">Promo: Tahun Baru</a></h2>
							<p>Pulang dari liburan? Gunakan  kode promo <b><i>T4HUNB4RU</i></b> dan dapatkan potongan 15% untuk semua pemesanan
								tiket. Syarat dan ketentuan berlaku.</p>
						</div> <!-- .event -->

						<div class="event">
							<div class="entry-date">
								<div class="date">?</div>
							</div>
							<h2 class="entry-title"><a href="#">Ada promo apa lagi?</a></h2>
							<p>Nantikan promo-promo terbaru kami.</p>
						</div> <!-- .event -->
					</div> <!-- .event-carousel -->
				</div> <!-- .container -->
			</div> <!-- .upcoming-event-section -->

			<div class="fullwidth-block why-chooseus-section">
				<div class="container">
					<h2 class="section-title">Bus kami</h2>

					<div class="row">
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/sugeng-rahayu.jpg" alt="" height="230">
								</figure>
								<h3 class="feature-title">Sugeng Rahayu</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/sinar-jaya.jpg" alt="">
								</figure>
								<h3 class="feature-title">Sinar Jaya</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/shantika.jpg" alt="">
								</figure>
								<h3 class="feature-title">New Shantika</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/Primadona.jpg" alt="">
								</figure>
								<h3 class="feature-title">Primadona</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/zhafira.jpg" alt="">
								</figure>
								<h3 class="feature-title">Zafira Trans</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/borlindo.jpg" alt="">
								</figure>
								<h3 class="feature-title">Borlindo</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/maju-lancar.jpg" alt="">
								</figure>
								<h3 class="feature-title">Maju Lancar</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/harapan-jaya.jpg" alt="">
								</figure>
								<h3 class="feature-title">Harapan Jaya</h3>
							</div> <!-- .feature -->
						</div>
						<div class="col-md-4">
							<div class="feature">
								<figure class="cut-corner">
									<img src="/images/pandawa-87.jpg" alt="">
								</figure>
								<h3 class="feature-title">Pandawa 87</h3>
							</div> <!-- .feature -->
						</div>

					</div>
				</div> <!-- .container -->
			</div> <!-- .why-chooseus-section -->
		</main> <!-- .main-content -->

		<footer class="site-footer">
			<div class="container">
				<img width="300px" src="/images/footer.png" alt="Site Name">

				<address>
					<p>JL.Tebet Timur Dalam IX No.2 Jakarta Selatan <br><a href="tel:02157950532">(021) 57950532</a> <br> <a
							href="mailto:adebratasiddiq@gmail.com">adebratasiddiq@gmail.com</a>
					</p>
				</address>

					<h1>Punya pertanyaan?</h1>
					<input type="email" size="150" placeholder="Masukkan email anda...">
					<br><br>
					<input type="text" size="150" placeholder="Tuliskan pesan anda...">
					<br> <br>
					<input type="submit" class="button cut-corner" value="Kirim!">

				<div class="social-links">
					<a href="#"><i class="fa fa-facebook-square"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
				</div> <!-- .social-links -->

				<p class="copy">Band Name @ Copyright 2016. All right reserved. Designed by <a
						href="http://srikrishnacommunication.com/Giridesigns.html">Giri Designs</a></p>
			</div>
		</footer> <!-- .site-footer -->

	</div> <!-- #site-content -->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

</body>

</html>